<div class="product-card">
    <img [src]="product?.image" alt="Photo of the product">
    <form [formGroup]="productForm" novalidate (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input  matInput 
                    placeholder="{{ product?.title }}" 
                    formControlName="title">
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input  matInput 
                    placeholder="{{ product?.description }}"
                    formControlName="description">
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Price</mat-label>
            <input  matInput 
                    type="number" 
                    placeholder="{{ product?.price }}"
                    formControlName="price"
                    class="example-right-align">
            <span matPrefix>NZ$&nbsp;</span>
            <span matSuffix>.00</span>
        </mat-form-field> 
        <div class="btn">
            <button mat-raised-button color="primary" (click)="gotoProducts(product?.category)">Back</button>
            <button mat-raised-button color="primary" type="submit">Update</button>
        </div>
    </form>
</div>