<section>
    <ng-container *ngIf="isLoading">
        <mat-spinner class="custom-spinner" 
                     diameter="70"
                     style="margin:0 auto;">
        </mat-spinner>
    </ng-container>

    <div *ngFor="let product of products$ | async; trackBy: trackByFn">
        <app-product [product]="product"
                     [viewport]="viewport"
                     [isAdmin]="isAdmin">
        </app-product> 
    </div>

    <div class="fab-btn" *ngIf="showFab">
        <button mat-fab
                aria-label="icon-button with a home icon" 
                (click)="navigateToHome($event)">
            <mat-icon>home</mat-icon>
        </button>
    </div>
</section>