<mat-list class="logo" (click)="adminLogin()">
    <img src="../../../assets/admin.png" alt="Admin Photo">
    <span>NildaShoppe</span>
</mat-list>

<mat-divider></mat-divider>

<mat-nav-list>
    <div mat-subheader class="sub-header">Cakes</div>
    <div class="menu" *ngFor="let cake of cakes" (click)="viewProductBy(cake.category)">
        <img [src]="cake.icon" alt="Cake category icon">
        <span>{{ cake.title }}</span>
    </div>
    <mat-divider></mat-divider>
    
    <div mat-subheader class="sub-header">Pastries</div>
    <div class="menu" *ngFor="let pastry of pastries" (click)="viewProductBy(pastry.category)">
        <img [src]="pastry.icon" alt="Pastry category icon">
        <span>{{ pastry.title }}</span>
    </div>
    <mat-divider></mat-divider>

    <!-- <div class="admin">
        <a mat-list-item [routerLink]="['/login']">Login</a>
    </div> -->
</mat-nav-list>