<footer>
    <div class="grid">
        <p class="copyright">Copyright 2020 NildaShoppe</p>
        <p class="title">Nilda's Custom Cakes and Pastries</p>
        <p class="tagline">Unique creations for unique occasions</p>
        <p class="email">Email : <a href="mailto:nilda.jacobe@yahoo.com?"> nilda.jacobe@yahoo.com</a></p>
        <!-- <ul class="social">
            <li><a href=""><img src="../../../assets/facebook.svg" alt="facebook"></a></li>
            <li><a href=""><img src="../../../assets/gmail.svg" alt="gmail"></a></li>
            <li><a href=""><img src="../../../assets/linkedin.svg" alt="linkedin"></a></li>
        </ul> -->
    </div>
</footer>