footer {
    background-color: #a37ee7;
    background-image: url('../../../assets/footer-pastries.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    padding: 0 10px;
}

footer .grid {
    height: 120px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

footer .copyright {
    margin: 10px 0;
    font-size: 0.8em;
}

footer .title {
    color: white;
    font-weight: bold;
}

footer .tagline {
    margin: 10px 0;
    font-size: 0.8em;
    margin-bottom: 10px;
}

footer .email {
    font-size: 0.8em;
}

footer a {
    color: blue;
}

footer a:hover {
    color: var(--accent);
}