.mat-card {
    background: transparent;
}

:host ::ng-deep .mat-card-header-text {
    margin: 0;
    color: indigo;
}

.mat-card-image {
    width: calc(100%);
    margin: 0;
}

.mat-card-actions, 
.mat-card-content, 
.mat-card-subtitle {
    display: block;
    margin: 10px 0;
}

.mat-card>.mat-card-actions:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.mat-card-actions {
    margin: 0;
    padding: 0;
}

.mat-card-actions button {
    background-color: #c2185b;
    color: white;
}