<div *ngIf="authService.user$ | async as user; else register">
    <!-- <pre>{{ user | json }}</pre> -->
    <div class="social-register">
        <h4>You can now administer this site.</h4>
    </div>
</div>

<ng-template #register>
    <div class="social-register">
        <mat-card>
            <mat-card-title>Register</mat-card-title>
            <form [formGroup]="registerForm" (ngSubmit)="onSignUp()">
                <mat-form-field appearance="fill">
                    <mat-label>Enter your email</mat-label>
                    <input  matInput 
                            placeholder="you@example.com" 
                            formControlName="email"
                            autocomplete="email">
                    <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
                </mat-form-field>
        
                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input  matInput 
                            [type]="hide ? 'password' : 'text'" 
                            formControlName="password"
                            autocomplete="current-password">
                    <mat-error *ngIf="password.invalid">{{ getPasswordErrorMessage() }}</mat-error>
                    <button mat-icon-button matSuffix 
                            (click)="hide = !hide" 
                            [attr.aria-label]="'Hide password'" 
                            [attr.aria-pressed]="hide">
                        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                </mat-form-field>
        
                <button mat-raised-button 
                        color="primary"
                        class="register-btn"
                        type="submit"
                        [disabled]="registerForm.invalid">Sign up
                </button>
            </form>
        </mat-card>
    </div>
</ng-template>
