.social-register {
    height: 90vh;
    display: block;
}

.mat-card>:first-child, 
.mat-card-content>:first-child {
    margin-top: 0;
    text-align: left;
}

h2 {
    font-weight: bold;
    color: black;
}

h4 h5 {
    text-align: center;
}

.mat-card {
    width: 300px;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.mat-form-field {
    width: 100%;
}

.register-btn {
    display: block;
    width: 100%;
    margin-top: 16px;
}