<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav 
        class="sidenav" 
        fixedInViewport
        (click)="closeSideNav()"
        role="navigation"
        [attr.role]="isHandset ? 'dialog' : 'navigation'">
        <app-menu></app-menu>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content" role="main">
        <app-navigation *ngIf="isHandset" (opened)=sidenav.open()></app-navigation>
        
        <main [@routeAnimation]="getState(myOutlet)">
            <ng-container *ngIf="isLoading">
                <mat-spinner class="custom-spinner" 
                             diameter="70"
                             style="margin:0 auto;">
                </mat-spinner>
            </ng-container>
            <router-outlet #myOutlet="outlet"></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>