<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav 
        class="sidenav" 
        fixedInViewport
        (click)="closeSideNav()"
        [attr.role]="isHandset ? 'dialog' : 'navigation'">
        <app-menu></app-menu>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
        <div>
            <app-navigation *ngIf="isHandset" (opened)=sidenav.open()></app-navigation>
            <!-- <span>Nilda's Custom Cakes</span> -->
        </div>
        <mat-spinner class="custom-spinner" 
                     *ngIf="isLoading"
                     diameter="50"
                     style="margin:0 auto;">
        </mat-spinner>
        <main [@routeAnimation]="getState(myOutlet)">
            <router-outlet #myOutlet="outlet">
            </router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>