.sidenav-container {
    background-color: #e9e0f7;
    /* background-color: #f7c1c1; */
}

.sidenav {
    width: 250px;
    background-color: rgba(115, 80, 180, 0.7);
    padding: 0 20px;
}

.sidenav-content {
    height: auto;
}

.sidenav-content div {
    height: 40px;
    line-height: 40px;
}

/* Tablet Portrait */
@media(min-width: 600px) and (max-width: 839.99px) and (orientation: portrait) {
    
}