<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav 
        class="sidenav" 
        fixedInViewport
        (click)="closeSideNav()"
        [attr.role]="isHandset ? 'dialog' : 'navigation'">
        <app-menu></app-menu>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
        <div>
            <app-navigation *ngIf="isHandset" (opened)=sidenav.open()></app-navigation>
            <!-- <span>Nilda's Custom Cakes</span> -->
        </div>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>