main {
    position: relative;
    /* border: 1px solid red; */
}

.sidenav-container {
    background-color: #e9e0f7;
    padding-top: 60px;
}

.sidenav {
    width: 40vh;
    background-color: rgba(115, 80, 180, 0.6);
    padding: 0 20px;
    color: white;
}

.sidenav-content {
    height: auto;
}

/* .sidenav-content div {
    height: 40px;
    line-height: 40px;
} */

/* Preloader */
:host ::ng-deep .custom-spinner circle {
    stroke: mediumpurple;
    position: absolute;
    top: 50%;
    left: 50%;
    height:100vh;
    width:100%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/* Tablet Portrait */
@media(min-width: 600px) and (max-width: 839.99px) and (orientation: portrait) {
    
}