<mat-card class="product-card">
    <mat-card-header>
        <mat-card-title>{{ product.title }}</mat-card-title>
    </mat-card-header>

    <img mat-card-image src="{{ product.image }}" alt="Photo of a product">
    
    <mat-card-content>
        <p class="description">{{ product.description }}</p>
        <p class="price">{{ product.price | currency:'NZD':'symbol'}}</p>
    </mat-card-content>
    
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="gotoProducts()">Back</button>
    </mat-card-actions>
</mat-card>
