.product-card {
    border: 4px solid white;
    margin: 10px;
    background-color: lavenderblush;
    color: black;
    text-align: center;
}

.product-card mat-card-title {
    color: var(--primary);
    font-size: 2em;
}

.product-card img {
    width: 100%
}

.product-card .description {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.6em;
}

.product-card .price {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.4em;
}

.product-card button {
    margin-right: 10px;
}