/* header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-gap: 10px;    
    padding: 0 auto;
} */

header {
    height: auto;
    text-align: center;
 }

header img {
     margin-bottom: 20px;
     width: 75%;
 }