#navigation {
    width: 100%;
    flex: 1 1 auto;
}

.material-icons {
    transform: scale(1.3);
    padding: 0;
    color: #734fb4;
}

#navigation span {
    margin: 0 10px;
    font-weight: bold;
    color: var(--primary);
}