<section class="categories">
    <div class="birthdays">
        <img src="../../../assets/birthdays.png" alt="">
        <div class="description">
            <h4>Birthdays</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Excepturi ea ex perspiciatis fugit minima eum quasi nihil dolorem, 
                alias doloribus?
            </p>
            <button mat-raised-button color="primary" (click)="viewProductsBy('birthday')">View</button>
        </div>
    </div>
    <div class="holidays">
        <img src="../../../assets/holidays.png" alt="">
        <div class="description">
            <h4>Holidays and Seasons</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Excepturi ea ex perspiciatis fugit minima eum quasi nihil dolorem, 
                alias doloribus?
            </p>
            <button mat-raised-button color="primary" (click)="viewProductsBy('holiday')">View</button>
        </div>
    </div>
    <div class="occasions">
        <img src="../../../assets/occasions.png" alt="">
        <div class="description">
            <h4>Special Occasions</h4>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Excepturi ea ex perspiciatis fugit minima eum quasi nihil dolorem, 
                alias doloribus?
            </p>
            <button mat-raised-button color="primary" (click)="viewProductsBy('occasion')">View</button>    
        </div>
    </div>
</section>