.categories {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 10px auto;
}

.categories .birthdays {
    display: flex;
    background-color: #ceb8f1;
    height: auto;
    padding: 10px;
    color: #673fb1
}

.categories .holidays {
    display: flex;
    background-color: #a37ee7;
    height: auto;
    padding: 10px;
}

.categories .occasions {
    display: flex;
    /* background-color: #9e65ef; */
    background-color: #ceb8f1;
    height: auto;
    padding: 10px;
    color: #673fb1;
}

.categories .birthdays img {
    padding-right: 10px;
    height: 150px;
}

.categories .holidays img {
    padding-right: 10px;
    height: 150px;
}

.categories .occasions img {
    padding-right: 10px;
    height: 150px;
}

.categories .birthdays .description {
    padding-top: 0px;
}

.categories .holidays .description {
    padding-top: 0px;
}

.categories .occasions .description {
    padding-top: 0px;
}

h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

div p {
    padding-bottom: 10px;
    font-size: 0.9em;
}