.category-item {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: #ceb8f1;
    padding: 10px;
    color: #673fb1;
    /* border: 5px solid white; */
    margin-bottom: 10px;
    align-items: center;
}

.category-item img {
    padding-right: 10px;
    height: 130px;
}

.categories .description {
    padding-top: 0px;
    color: black;
}

h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
    color: #673ab7;
}

div p {
    font-size: 0.8em;
}
